do_token                = "put_your_digital_ocean_token_here"
container_registry      = "feats"
github_username         = "put_your_github_organisation_or_username_here"
github_token            = "put_your_github_token_here"

# database
db_name                 = "put_your_postgres_user_here"
db_username             = "put_your_postgres_password_here"
